.App {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
}

.app-title {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.sidebar-nav {
  list-style-type: none;
  padding: 0;
}

.nav-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-link:hover {
  background-color: #34495e;
}

.nav-link i {
  margin-right: 10px;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
}


@media (max-width: 768px) {
  .App {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    padding: 10px;
  }

  .content {
    padding: 10px;
  }
}